/**
 * @name Purpled
 * @version 1.0
 * @description A theme based on "Google's Material" edited to be purple!
 * @author Choco
 * @website https://github.com/ChocoMilc/ChocoThemesRepo/
 * @source https://github.com/ChocoMilc/ChocoThemesRepo/blob/main/purpled.theme.css
*/

@import url('https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/source.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css');
@import url('https://nyri4.github.io/Discolored/main.css');

:root {
  --accent-hue: 262;
  --accent-saturation: 91%;
  --accent-lightness: 80%;
  --accent-text-color: #450086;
  --avatar-radius: 25%;
  --undefined: 0;
  --message-radius: 20px;
  --message-padding-top: 16px;
  --message-padding-side: 12px;
  --undefined: 0;
  --media-radius: 19px;
  --undefined: 0;
  --card-radius: 8px;
  --card-radius-big: 35px;
  --popout-radius: 15px;
  --popout-radius-big: 35px;
  --columns: 2.2;
  --guildgap: 5;
  --aligndms: 0;
}

/* Any custom CSS below here */

